.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

<<<<<<< HEAD

=======
>>>>>>> chapter6
.ng-table {
                width: 100%;
}
 
.ng-table > thead > tr > th {
                text-align: left;
                border: 0;
}
 
.ng-table > tbody > tr > th, .ng-table > tfoot > tr > th, .ng-table > thead > tr > td, .ng-table > tbody > tr > td, .ng-table > tfoot > tr > td {
                height: 50px;
<<<<<<< HEAD
                border-bottom: 1px solid #e8e8e8;
=======
		border-bottom: 1px solid #e8e8e8;
>>>>>>> chapter6
}
 
.ng-table-filters {
                height: 60px;
}
 
.ng-table-filters .filter {
                vertical-align: top;
}
 
.ng-table > thead > tr > th {
                padding-bottom: 0;
                padding-top      : 0;
}
 
.actions {
                margin-bottom: 30px;
}
 
.table-actions {
                width: 130px;
}

