<section data-ng-controller="CustomersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Customers</h1>
    </div>

    <div>
        <table ng-table>
            <tr ng-repeat="customer in customers">
                <td data-title="Name">{{customer.name}}</td>
                <td data-title="Address">{{customer.address}}</td>
                <td data-title="State">{{customer.state}}</td>
                <td data-title="Country">{{customer.country}}</td>
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/customers/{{customer._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/customers/{{customer._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <button type="button" class="btn btn-danger" title="Remove" data-ng-click="remove(customer)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!--
    <div class="list-group">
        <a data-ng-repeat="customer in customers" data-ng-href="#!/customers/{{customer._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="customer.created | date:'medium'"></span>
				by
				<span data-ng-bind="customer.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="customer.name"></h4>
            Address: {{customer.address}}<br/>
            State: {{customer.state}}<br/>
            Country: {{customer.country}}<br/>
        </a>
    </div>
    -->

    <div class="alert alert-warning text-center" data-ng-hide="!customers.$resolved || customers.length">
    	No Customers yet, why don't you <a href="/#!/customers/create">create one</a>?
    </div>
</section>