<section data-ng-controller="CustomersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="customer.name"></h1>
        Address: {{customer.address}}<br/>
        State: {{customer.state}}<br/>
        Country: {{customer.country}}<br/>
		
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == customer.user._id">
		<a class="btn btn-primary" href="/#!/customers/{{customer._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="customer.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="customer.user.displayName"></span>
		</em>
	</small>
</section>